[MESSAGES CONTROL]

disable=
    no-member,
    no-name-in-module,
    too-few-public-methods,
    line-too-long,
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring
