[MESSAGES CONTROL]

disable=
    no-member,
    no-name-in-module,
    too-few-public-methods,
    unused-import,
    line-too-long,
    c-extension-no-member,
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring
